html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #333;
  color: #EEE;
  min-width: 500px;
}

#header {
  width: 100%;
  height: 6%;
  padding-top: 0.125%;
  padding-bottom: 0.125%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  background-color: #2F688D;
}

#FSelect {
  width: 98%;
  height: 6%;
  padding-top: 1%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: block;
}

#FSelect input {
  width: 69%;
}

#FSelect a {
  /* margin-top: 0.5%; */
  width: 30%;
  float: right;
  overflow: hidden;
}

#FSelect a {
  background-color: #7DB8DE;
  color: #FFF;
}

#queue {
  position: absolute;
  top: 18%;
  bottom: 1%;
  left: 1%;
  right: 1%;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: auto;
}

#queue table {
  width: 100%;
  border-color: #555;
}

#queue th {
  width: 80%;
  background-color: #2F688D;
  color: #EEE;
  border: none;
}

#queue tr {
  text-align: center;
  border-color: #555;
}

#queue td {
  border-color: #555;
}

.swal-modal {
  background-color: rgba(47, 104, 141, 0.9);
  border: none;
}

.swal-title {
  margin: 0px;
  font-size: 16px;
  box-shadow: none;
  margin-bottom: 28px;
  color: #EEE;
}

.swal-text {
  padding: 17px;
  display: block;
  margin: 22px;
  text-align: center;
  color: #EEE;
}

.swal-footer {
  background-color: #7DB8DE;
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #2F688D;
  font-size: 12px;
  border: 1px solid #2F688D;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-icon--success__hide-corners {
  background-color: rgba(47, 104, 141, 0);
}

.swal-icon--success:after, .swal-icon--success:before {
  background-color: rgba(47, 104, 141, 0);
}

.swal-icon--warning__hide-corners {
  background-color: rgba(47, 104, 141, 0);
}

.swal-icon--warning:after, .swal-icon--warning:before {
  background-color: rgba(47, 104, 141, 0);
}